.wrapper {
  height: 100vh;
  .main-page {
    div.greeting {
      text-align: left;
      p {
        font-size: $smSize;
        margin: 0;
      }
    }
    div.left-side-greeting {
      text-align: right;
    }
  }
}

header.statistic .list-group {
  flex-direction: row; // Override bootstrap flex direction
  a:last-child {
    display: flex;
    align-items: center;
  }
  h5 {
    font-size: 900;
  }
}
article {
  margin-top: 10px;
  .card {
    height: 400px;
  }
}
aside.top-test-wrapper {
  height: 530px; // this will be height auto
  background-color: $light-grey;
  padding: 10px;
}

/* -- background images in dashboard */
.card-body:first-child {
  background-image: url('../images/campagneChart.PNG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
