.orange-btn {
  background-color: $bg-main-btn;
  font-weight: 900;
  padding: 2px 0px;
  width: 240px;
  box-sizing: content-box;
  &:hover {
    opacity: 0.8;
  }
  .main-btn-inner-span {
    margin-left: 8px;
  }
}
