aside.sidebar-wrapper {
  width: 240px;
  float: left;
  height: calc(100vh - 100px);
  overflow: hidden;
  padding: 20px;
  position: sticky;
  top: 101px;
  @include flexItem(column, center, space-between);
  a {
    border: none;
    i {
      margin-right: 4px;
    }
  }
  hr {
    height: 4px;
    width: 100px;
    margin-bottom: 150px;
    background-color: $paleWhite;
  }
}

.control-sidebar {
  bottom: 43%;
  right: 4px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #add8e626;
  cursor: pointer;

  i {
    font-size: 15px;
  }
}
/*---Selected ---*/
.selected {
  font-weight: bold;
  color: $bg-main-btn;
}
/*--close open  side bar --*/
