@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

/*------Colors------*/
$logoColor: #fc9502;
$paleWhite: #ffffff78;
$light-grey: #6c757d;
$bg-main-page: #f5f5f5;
$bg-main-btn: #fc9502;
$table-color: #ffffff85;
$thead-color: #d8cccc42;
$transitio-speed: 0.5s;
/*---*/
a:hover {
  text-decoration: none;
}
.hero-section {
  display: flex;
  transition: margin $transitio-speed ease-in-out;
}
section.main-page {
  width: calc(100% - 240px);
  min-height: 100vh;
  height: 100%;
  background-color: $bg-main-page;
}
button {
  border: none;
  background-color: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/*--Bootstrap container --*/
.container {
  box-sizing: default;
}

/*--First-row --*/
.row-mg {
  margin-top: 15px;
}
/*--Normalize hr line --*/
hr.line {
  background-color: #a09f9f0d;
  width: 100%;
  margin-bottom: 4px;
}

/*--flex --*/
@mixin flexItem($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
/*--Centering ---*/
%translate-center {
  transform: translate(-50%, -50%);
}
/*---Fonts size---*/
$smSize: 12px;

/*--Tables --*/
table,
input,
div.aside-list-wrapper {
  background-color: $table-color;
}
/*---toggling --*/

.hide_side_bar {
  margin-left: -199px;

  div.control-sidebar {
    background-color: #00000045;
    color: white;
  }
}
/*---Background ---*/
%background-shorthand {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@import 'login';
@import 'logo';
@import 'dashborad';
@import 'navbar';
@import 'sidebar';
@import 'orangebutton';
@import 'toptest';
@import 'title';
@import 'campagne';
@import 'searchInput';
@import 'asidelist';
@import 'table-n-style';
@import 'addcontact';
@import 'result';
@import 'question';
@import 'mediaqueries';
